@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #081b29;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 0.8;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 0;
}
.navbar .navbar-brand {
  font-size: 30px;
  font-weight: 700;
  color: #ededed;
}
.navbar .navbar-nav {
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #ededed;
  text-transform: capitalize;
  transition: all linear 0.3s;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #00abf0;
}

.home {
  min-height: 100vh;
}
.home .home_content {
  padding-top: 30%;
  align-items: center;
  color: #ededed;
}
.home .home_content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
}
.home .home_content h1 span {
  color: transparent;
  -webkit-text-stroke: 0.7px #00abf0;
}
.home .home_content .animated {
  width: 300px;
  height: 80px;
}
.home .home_content .animated h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  color: transparent;
  -webkit-text-stroke: 0.7px #00abf0;
}
.home .home_content p {
  font-size: 18px;
  line-height: 1.5;
}
.home .home_content .btn_wrapper {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 20px 0;
}
.home .home_content .btn_wrapper .btn {
  border: 2px solid transparent;
  transition: all linear 0.3s;
}
.home .home_content .btn_wrapper .btn:hover {
  background: transparent;
  border: 2px solid #00abf0;
}
.home .home_content .social {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.home .home_content .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 17px;
  font-weight: 400;
  color: #000000;
  background: #ffffff;
  border-radius: 50%;
  transition: all linear 0.3s;
  border: 2px solid transparent;
}
.home .home_content .social a:hover {
  color: #00abf0;
  background: transparent;
  border: 2px solid #00abf0;
}
.home .home_img {
  height: 620px;
  width: 100%;
  overflow: hidden;
}
.home .home_img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  padding: 50px 0;
  background: #112e42;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
  justify-content: center;
}
.about .about_header {
  text-align: center;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
  justify-content: center;
}
.about .about_header h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.5;
  color: #ededed;
  padding-bottom: 30px;
}
.about .about_header .about_image {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #081b29;
  overflow: hidden;
  border: 2px solid #00abf0;
}
.about .about_header .about_image img {
  width: 70%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about_header .about_image .circle {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50% 50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 2px solid red;
}
.about .about_content {
  color: #ededed;
  text-align: center;
}
.about .about_content h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  padding: 20px 0;
}
.about .about_content p {
  line-height: 1.5;
  width: auto;
  text-align: left;
}
.about .about_content .btn {
  border: 2px solid transparent;
  transition: all linear 0.3s;
}
.about .about_content .btn:hover {
  background: transparent;
  border: 2px solid #00abf0;
}

.education {
  padding: 50px 0;
}
.education .education_header {
  text-align: center;
  color: #ededed;
}
.education .education_header h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.5;
  padding-bottom: 30px;
}
.education .education_section {
  color: #ededed;
}
.education .education_section .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  padding: 20px 0;
  color: #ededed;
}
.education .education_section .education_wrapper .education_item {
  padding: 20px;
  border: 2px solid #00abf0;
  border-radius: 10px;
  margin-bottom: 20px;
}
.education .education_section .education_wrapper .education_item .session {
  font-size: 24px;
  color: #00abf0;
  padding-bottom: 8px;
}
.education .education_section .education_wrapper .education_item .session i {
  padding-right: 8px;
}
.education .education_section .education_wrapper .education_item h3 {
  font-size: 30px;
  line-height: 1.5;
}
.education .education_section .education_wrapper .education_item p {
  font-size: 18px;
  line-height: 1.5;
}

.skills {
  padding: 50px 0;
}
.skills .skills_header {
  text-align: center;
  color: #ededed;
}
.skills .skills_header h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.5;
  color: #ededed;
  padding-bottom: 30px;
}
.skills .codind_skill_section .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  padding: 20px 0;
  color: #ededed;
}
.skills .proffetional_skill_section .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  padding: 20px 0;
  color: #ededed;
}
.skills .skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}
.skills .skillbar .skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.skills .skillbar .skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.skills .skillbar .skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
}
.skills .skillbar .skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #444;
  color: rgba(0, 0, 0, 0.4);
}/*# sourceMappingURL=style.css.map */