@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
// variable
$bg_color: #081b29;
$text_color:#ededed;
$primary_color:#00abf0;
$second_bg: #112e42;
// common css
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: $bg_color;
    font-family: 'Nunito', sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: .8;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 0;
    .navbar-brand{
        font-size: 30px;
        font-weight: 700;
        color: $text_color;
    }
    .navbar-nav{
        column-gap: 25px;
        .nav-item .nav-link{
            font-size: 18px;
            font-weight: 500;
            color: $text_color;
            text-transform: capitalize;
            transition: all linear 0.3s;
            &:hover{
             color: $primary_color;
            }
        }
    } 
}

// =================Home section==============
.home{
    min-height: 100vh;
    
    .home_content{
        // max-width: 60%;
        // display: flex;
        padding-top: 30%;
        align-items: center;
        color: $text_color;
        h1{
            font-size: 48px;
            font-weight: 700;
            line-height: 1.5;
            span{
                color: transparent;
                -webkit-text-stroke:.7px $primary_color
            }
        }
        .animated{
            width: 300px;
            height: 80px;
            h3{
                font-size: 30px;
                font-weight: 700;
                line-height: 1.5;
                color: transparent;
                -webkit-text-stroke:.7px $primary_color
            }
        }
        p{
            font-size: 18px;
            line-height: 1.5;
        }
        .btn_wrapper{
            display: flex;
            column-gap: 30px;
            padding: 20px 0;
            .btn{
                border: 2px solid transparent;
                transition: all linear 0.3s;
                &:hover{
                    background: transparent;
                    border: 2px solid $primary_color;
                }
            }
        }
        .social{
            display: flex;
            column-gap: 10px;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                font-size: 17px;
                font-weight: 400;
                color: #000000;
                background: #ffffff;
                border-radius: 50%;
                transition: all linear 0.3s;
                border: 2px solid transparent;
                &:hover{
                    color: $primary_color;
                    background: transparent;
                    border: 2px solid $primary_color;
                }
            }
        
        }
    }
    .home_img{
        height: 620px;
        width: 100%;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

}

// ==============About section==============
.about{
    padding: 50px 0;
    background: $second_bg;
    display: flex;
    // flex-direction: column;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    .about_header{
        text-align: center;
        display: flex;
        flex-direction: column;
        column-gap: 30px;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 35px;
                font-weight: 700;
                line-height: 1.5;
                color: $text_color;
                padding-bottom: 30px;
        }
        .about_image{
            position: relative;
            // padding: 10px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $bg_color;
            overflow: hidden;
            border: 2px solid $primary_color;
            img{
                width: 70%;
                height: 100%;
                object-fit: cover;
            }
            .circle{
                padding: 10px;
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-50% 50%);
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border-top: 2px solid red;
            }
        }
    }
    .about_content{
        color: $text_color;
        text-align: center;
        h3{
            font-size: 30px;
            font-weight: 700;
            line-height: 1.5;
            padding: 20px 0;
        }
        p{
            line-height: 1.5;
            width: auto;
            text-align: left;
        }
        .btn{
            border: 2px solid transparent;
            transition: all linear 0.3s;
            &:hover{
                background: transparent;
                border: 2px solid $primary_color;
            }
        }
    }
}